@keyframes pulse {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes scale {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-moz-keyframes scale {
  0%{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.btn:hover{
  animation: scale 1s both;
  -webkit-animation: scale 1s both;
  -moz-animation: scale 1s both;
}

.pulse{
  padding: 5px;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
}