@import "~bootstrap/scss/bootstrap";
@import "logger";
@import "preloader";
@import "registration";
@import "chat";

.box{
  margin: 50px auto;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}

.marg-top-10{
  margin-top: 10px;
}

.flex{
  display: flex;
}

.pad-10{
  padding: 10px;
}

.bottom-0{
  bottom: 0;
}

.custom-link{
  color: rgba(0, 0, 0, 0.5);
}
.custom-link:hover{
  color: rgba(0, 0, 0, 0.7);
}
.pad-right-10{
  margin-right: 10px;
}

.none{
  display: none;
}

.banner{
  position: relative;
  top: -56px
}

.fixed-top{
  position: fixed;
  top: 0;
}

.z{
  z-index: 100;
}