@import "~bootstrap/scss/bootstrap";
@import "logger";
@import "preloader";
@import "registration";
.box{
  margin: 50px auto;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}

.marg-top-10{
  margin-top: 10px;
}

.flex{
  display: flex;
}

.pad-10{
  padding: 10px;
}