.header-profile-img{
  margin-top: 10px;
  border-radius: 1em;
  border: 1px solid #fff;
}

.header-default-img{
  border-radius: 1em;
  width: 12em;
  margin-top: 10px;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid #fff;
}

.child-age{
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  text-align: center;
  color: #fff;
}

.flowers{
  width: 30px !important;
}

.header-absolute{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.5em;
  border: 1px solid white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255,0,0,0.4);
}
