.banner-1{
  background: url("../fixed/iStock-514318934.png") center no-repeat fixed;
  background-size: cover;
}

.banner-2{
  background: url("../fixed/iStock-1034831832.png") center no-repeat fixed;
  background-size: cover;
}

.banner-3{
  background: url("../fixed/banner3.png") center no-repeat fixed;
  background-size: cover;
}